        <footer class="w600p center mt3 mb3 smaller txtright">
            {% if view != 'home' %}<p><a href="./?action=toggle_archive&amp;random=1&amp;id={{ entry.id|e }}">{% trans "Mark as read & next random" %}</a></p><p>&nbsp;</p>{% endif %}
            {% if constant('DEBUG_POCHE') == 1 %}<p><strong>{% trans "debug mode is on so cache is off." %} {% trans "your wallabag version:" %}{{constant('POCHE')}}. {% trans "storage:" %} {{constant('STORAGE')}}</strong></p>{% endif %}
        </footer>
